<div class='autocomplete-input'>
  <div class='input'>
    {{#if hasBlock}}
      {{yield term}}
    {{else}}
      {{input type='text' value=term}}
    {{/if}}
  </div>

  {{#if hasResults}}
    <div class='autocomplete-results'>
      {{#each results as |result|}}
        {{autocomplete-result-item selectResult=(action selectResult) highlightedResult=highlightedResult result=result resultName=resultName resultValue=resultValue}}
      {{/each}}
    </div>
  {{/if}}
</div>
