<div class='autocomplete-input'>
  {{#if hasBlock}}
    {{yield term}}
  {{else}}
    {{input type='text' value=term}}
  {{/if}}

  {{#if hasResults}}
    <div class='autocomplete-results'>
      {{#each results as |result|}}
        {{autocomplete-result-item selectResult=(action selectResult) highlightedResult=highlightedResult result=result resultName=resultName resultValue=resultValue}}
      {{/each}}
    </div>
  {{/if}}
</div>
