<div class='autocomplete-input'>
  <div class='input'>
    {{input type='text' value=term key-up='updateTerm'}}
  </div>

  {{#if hasResults}}
    <div class='results'>
      {{#each results as |result|}}
        <div class='result-item {{if (eq result.value highlightedResult.value) "highlight"}}' {{action 'selectResult' result.value}}>
          {{result.name}}
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

